.result-item {
   width: clamp(100px, 16vw, 400px);
   border-right: 1px solid hsl(0, 0%, 59%);
   text-transform: uppercase;
   padding-right: 0.5rem;

   &:last-child {
      border-right: none;
   }

   @media (max-width: 780px) {
      width: clamp(250px, 60vw, 450px);
      border: none;
      padding-right: 0;
      text-align: center;
   }
}

.title {
   font-size: 0.8rem;
   margin-bottom: 1rem;
   color: hsl(0, 0%, 59%);
   font-size: 0.9rem;
   font-weight: 500;

   @media (max-width: 780px) {
      margin-bottom: 0.5rem;
   }
}

.data {
   color: hsl(0, 0%, 17%);
   font-size: clamp(1rem, 1.5vw, 1.3rem);
}
